.headFont {
    font-family: "Press Start 2P", system-ui;
}

.wordFont{
    font-family: "VT323", monospace;
}

body {
    background-color: rgb(0, 139, 139);
}

.card-1-bg{
    background-color: rgb(149,190,221);
}

.color-1{
    color: rgb(255,215,106);
}

.sounds{
    display: none;
}
  
.diceButton{
    transition: .3s;
}

.diceButton:hover{
    transform: scale(1.5);
}

